/* Variables and mixins declared here will be available in all other SCSS files */
@use 'sass:math';

@function rem($px) {
    @return math.div($px * 1px, 16px) * 1rem;
}

@mixin font($size, $weight, $line, $color) {
    color: $color;
    font-weight: $weight;
    font-size: $size;
    font-style: normal;
    line-height: $line;
    letter-spacing: normal;
}

@mixin scrollbar(
    $size: rem(14),
    $foreground-color: #999,
    $background-color: #333
) {
    // For Chrome & Safari
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
    }
    &::-webkit-scrollbar-track {
        background: $background-color;
    }

    // Standard version (Firefox only for now)
    scrollbar-color: $foreground-color $background-color;
}

%nav {
    display: flex;
    justify-content: center;
    align-items: center;

    .menu-link {
        display: block;
        height: rem(80);
        padding: 0 rem(20);
        line-height: rem(80);
        text-transform: uppercase;
        background: var(--game-color-dark);
        text-shadow: rem(2) rem(2) 0 var(--game-color-darkest);
        cursor: pointer;

        span {
            font-size: rem(22);
            font-family: var(--8-bit);
            color: var(--game-color);
        }

        &:hover {
            background-color: var(--game-color);
            span,
            i,
            a {
                color: var(--game-color-darkest);
                text-shadow: rem(2) rem(2) 0 var(--game-color-warn);
            }
        }
    }
}
